{% extends 'base.html.twig' %}

{% block title %}Hello FoothillsController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Foothills Forum Stories</h1>
    <div>
        Stay up to date, join our email list!
        {% set url = 'https://foothills-forum.org/contact/' %}
{#        <img class="float-start {{ class|default('qr') }}" src="{{ qr_code_url(url) }}" />#}
        <br />{{ url }}
    </div>
</div>

    <ul>
    {% for story in articles %}
{#        {% if loop.index == 1 %} {{ dump(story) }}{%endif%}#}
        <li>
            {% if story.image %}
                <img width="300" src="{{ story.image}}" />
            {% endif %}
            <img width="60" class=" {{ class|default('qr') }}" src="{{ qr_code_url(story.url) }}" />
                <span >{{ story.headline }}</span>
            {#            <img class="float-start {{ class|default('qr') }}" src="{{ qr_code_url(story.url) }}" />#}
            <hr />
        </li>
    {% endfor %}
    </ul>
{% endblock %}

