{% extends 'base.html.twig' %}

{% block title %}Hello FoothillsController!{% endblock %}

{% block body %}

    {% for story in articles %}
{#        {% if loop.index == 1 %} {{ dump(story) }}{%endif%}#}
        <h1 class="headline">
            <a href="{{story.url}}" target="_blank">
                <img class=" {{ class|default('qr') }}" src="{{ qr_code_url(story.url) }}" />
            </a>
            <span >{{ story.headline }}</span>
        </h1>
        <div class="byline">
        <span class="publication-date">
        {{ story.publicationDate|date("F Y") }}
        </span>

            <span class="author">
            {{ story.author }}
        </span>

        </div>


        {% if story.imageUrl %}
            <img class="primary-image" src="{{ story.imageUrl }}" />
        {% endif %}
        <span class="description">{{ story.description }}</span>

        <span class="float-end">
        </span>
        <hr />
        <p class="clearfix" style="page-break-after: always;">&nbsp;</p>

        {#            {{ dump(story) }}#}
            {#            <img class="float-start {{ class|default('qr') }}" src="{{ qr_code_url(story.url) }}" />#}
    {% endfor %}

    <h1>Foothills Forum Stories</h1>
    <div>
        Stay up to date, join our email list!
        {% set url = 'https://foothills-forum.org/contact/' %}
        {#        <img class="float-start {{ class|default('qr') }}" src="{{ qr_code_url(url) }}" />#}
        <br />{{ url }}
    </div>
    <p style="page-break-after: always;">&nbsp;</p>

{% endblock %}

